body, h1, ul {
    margin: 0;
    padding: 0;
}

.message-board {
    max-width: 600px;
    margin: 20px auto;
}

form {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

li {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
}